.HeroContact {
    .Title {
        .GetInTouch {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
            display: flex;
            max-width: 56rem;
            align-items: center;
            justify-content: flex-start;
            padding-top: 13rem;
            padding-bottom: 13rem;
            margin-top: 0;
            margin-bottom: 0;
            height: 100vh;
            margin-left: 8rem;

            h1 {
                margin-left: auto;
                margin-right: auto;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                font-family: Plus Jakarta Sans, sans-serif;
                font-weight: 800;
                letter-spacing: -.05em;
                color: rgb(223, 223, 226, 1);
                transition-property: all;
                transition-duration: 2.5s;
                transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                font-size: 6rem;
                line-height: 1;
            }

            span {
                font-family: Plus Jakarta Sans, sans-serif;
                font-weight: 800;
                letter-spacing: -.05em;
                font-size: 6rem;
                box-sizing: border-box;
                color: rgb(153, 196, 85, 1);
            }
        }
    }

    @media (max-width: 1200px) {
        .Title {
            .GetInTouch {
                padding-top: 10rem;
                padding-bottom: 10rem;
                margin-left: 4rem;

                h1 {
                    font-size: 5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }

                span {
                    font-size: 5rem;
                }
            }
        }
    }

    @media (max-width: 900px) {
        .Title {
            .GetInTouch {
                padding-top: 21rem;
                padding-bottom: 8rem;
                margin-left: 2rem;
                flex-direction: column;

                h1 {
                    font-size: 4rem;
                }

                span {
                    font-size: 4rem;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .Title {
            .GetInTouch {
                padding-top: 16rem;
                padding-bottom: 6rem;
                margin-left: 1rem;

                h1 {
                    font-size: 4rem;
                }

                span {
                    font-size: 3rem;
                }
            }
        }
    }
}