.AboutUs {
    .Container {
        padding-left: 9rem;
        padding-right: 3rem;
        overflow: hidden;

        .AboutUsGrid {
            display: grid;
            column-gap: 1rem;
            transition: all 1s;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem;

            .GridLeft {
                img {
                    display: block;
                    width: 100%; 
                    height: auto; 
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

            .GridRight {
                h2 {
                    font-weight: 700;
                    letter-spacing: -.05em;
                    color: #ffffff;
                    max-width: 28rem;
                    padding-bottom: 1.75rem;
                    font-size: 3rem;
                    line-height: 1;
                    opacity: .9;

                    span {
                        color: #80a648;
                    }
                }

                p {
                    width: fit-content;
                    max-width: 36rem;
                    font-family: Inter, sans-serif;
                    color: #ffffff;
                    padding-bottom: 2.5rem;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    opacity: .6;
                    font-weight: 600;
                }
            }

            a {
                text-decoration: none;
                height: 2.75rem;
                width: 9rem;
                border-radius: 9999px;
                background-color: #99c455;
                transition: all .2s linear;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                border: 2px solid transparent;

                &:hover {
                    border-color: #99c455;
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 968px) {
    .AboutUs {
        .Container {
            padding-left: 2rem;
            padding-right: 2rem;

            .AboutUsGrid {
                grid-template-columns: 1fr; 
                gap: 2rem;

                .GridLeft,
                .GridRight {
                    img {
                        border-radius: 0; 
                    }
                }
            }
        }
    }
}
