/* AdSlider.module.scss */
.Slider {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.Wrapper {
    display: flex;
    overflow: hidden;
    width: 75%;
    height: 100px;
    position: relative;
    box-shadow: 0 10px 20px -10px rgb(0, 0, 0, 0.2),
        inset 80px 0 20px -20px rgba(0, 0, 0, .6),
        inset -80px 0 20px -20px rgba(0, 0, 0, .6);
    ;

}

.Slide {
    height: 100px;
    display: flex;
    align-items: center;
    animation: scroll 5s linear infinite;

    img {
        height: 70px;
        padding: 0 30px 0 30px;
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}